<script>
	$(document).on('change', 'select[name="tumor_type"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		$.get('/clinical/get_clinical_variables', {tumor_type: tumor_type}, function (data) {
			var html = ""
			data.forEach(function(clinical_variable) {
				capitalized = clinical_variable.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
				html += '<option value="' + clinical_variable + '">' + capitalized + '</option>'
			});
			$('select[name="clinical_variable"]').html(html);
		});
	});

	$(document).on('change', 'select[name="clinical_variable"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		var clinical_variable = $('select[name="clinical_variable"]').val();
		get_data(tumor_type, clinical_variable);
	});
</script>

<b>Demographic profile on the 480 lung adenocarcinoma patients we analyzed.</b>
<br><br>
View Chart:
<%= select_tag "tumor_type", options_for_select({'Choose Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>

<%= select_tag "clinical_variable" %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
	//get_data(1);
</script>