<script>
	$(document).on('change', 'select[name="tumor_type"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		$.get('/clinical/get_clinical_variables', {tumor_type: tumor_type}, function (data) {
			num_records_string = "In this dataset, there are " + data["num_records"].toString() + " patients with " + data["tumor_type"] + ".";

			$('#data-set-overview').text(num_records_string);
			data = data["vars"];
			var html = "";
			data.forEach(function(clinical_variable) {
				capitalized = clinical_variable.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
				html += '<option value="' + clinical_variable + '">' + capitalized + '</option>';
			});

			$('select[name="clinical_variable"]').html(html);
			get_data(tumor_type, data[0]);
			
			$('#data-table-toggle').text("View as data table");
		});
	});

	$(document).on('change', 'select[name="clinical_variable"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		var clinical_variable = $('select[name="clinical_variable"]').val();
		get_data(tumor_type, clinical_variable);
		
		$('#data-table-toggle').text("View as data table");
	});	

	$(document).on('click', '#data-table-toggle', function() {
		var tumor_type = $('select[name="tumor_type"]').val();
		var clinical_variable = $('select[name="clinical_variable"]').val();
		if (tumor_type != '' && clinical_variable != '') {
			if ($('#data-table-toggle').text() == 'View as data table') {
				$('#data-table-toggle').text("View as chart");
				$.get('/clinical/get_chart_type', {clinical_variable: clinical_variable}, function(result) {
					if (result == 'd') {
						$.get('/clinical/table_data', {tumor_type: tumor_type, clinical_variable: clinical_variable}, function(result) {
							$('#container').html(result);
						});
					} else {
						$.get('/clinical/chart_data', {tumor_type: tumor_type, clinical_variable: clinical_variable}, function(data) {
							var distribution = generate_distribution(data['data']);
							var generated_bar = generate_continuous_bar(distribution, data['data']);
							$.get('/clinical/table_data_continuous', {labels: generated_bar['labels'], values: generated_bar['groups']}, function(result) {
								$('#container').html(result);
							});
						});	
					};
				});
			} else {
				$('#data-table-toggle').text("View as data table");
				get_data(tumor_type, clinical_variable);
			};
		};
	});
</script>

<h2>Clinical Profile Visualization</h2>
<div style="float:left;width:95%;" class="well">
This module visualizes the clinical data from The Cancer Genome Atlas (TCGA) cancer cohorts. Below are the steps for clinical data visualization.
<br><b>Step 1:</b> Choose the tumor type of interest. All tumor types investigated by TCGA consortiums are available for selection.
<br><b>Step 2:</b> Choose the clinical variable of interest. All available clinical variables for the chosen tumor are shown. The results are generated and presented on this page instantaneously.
</div>

<div style="float:left;width:325px;">
	<h4>Step 1: Choose the Tumor Type<font color="red">*</font></h4>
	<div class="well">
		<%= select_tag "tumor_type", options_for_select({'Choose Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>
	</div>
</div>
<div style="float:left;width:325px;margin-left:10px;">
	<h4>Step 2: Choose the Clinical Variable<font color="red">*</font></h4>
	<div class="well">
		<%= select_tag "clinical_variable" %>
	</div>
</div>
<br style="clear:both;"><font color="red">* = required</font>

<br><b id="data-set-overview"></b>
<span class="span-like-link" style="float:right;" id="data-table-toggle">View as data table</span>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; overflow-y:auto;"></div>