<script>
	$(document).on('change', 'select[name="tumor_type"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		$.get('/clinical/get_clinical_variables', {tumor_type: tumor_type}, function (data) {
			num_records_string = "In this dataset, there are " + data["num_records"].toString() + " patients with " + data["tumor_type"] + "."

			$('#data-set-overview').text(num_records_string);
			data = data["vars"];
			var html = ""
			data.forEach(function(clinical_variable) {
				capitalized = clinical_variable.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
				html += '<option value="' + clinical_variable + '">' + capitalized + '</option>'
			});

			$('select[name="clinical_variable"]').html(html);
			get_data(tumor_type, data[0]);
			init_data_table(tumor_type, data[0]);
		});
	});

	$(document).on('change', 'select[name="clinical_variable"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();
		var clinical_variable = $('select[name="clinical_variable"]').val();
		get_data(tumor_type, clinical_variable);
		init_data_table(tumor_type, clinical_variable);
	});

	var data_table_toggle = function() {
		console.log($('#data-table-toggle').text());
		var tumor_type = $('select[name="tumor_type"]').val();
		var clinical_variable = $('select[name="clinical_variable"]').val();
		if ($('#data-table-toggle').text() == 'View as data table') {
			$('#data-table-toggle').text("View as pie chart")
			$.get('/clinical/table_data', {tumor_type: tumor_type, clinical_variable: clinical_variable}, function(result) {
				$('#container').html(result);
			});
		} else {
			$('#data-table-toggle').text("View as data table");
			get_data(tumor_type, clinical_variable);
		};
	};

	function init_data_table(tumor_type, clinical_variable) {
		$.get('/clinical/chart_data', {tumor_type: tumor_type, clinical_variable: clinical_variable}, function(result) {
			if (result["chart_type"] != 'd') {
				$('#data-table-toggle').hide();
			} else {
				$('#data-table-toggle').show();
				$('#data-table-toggle').on('click', data_table_toggle );
			};	
		});
	};	
</script>

<b id="data-set-overview"></b>
<br><br>
View Chart:
<%= select_tag "tumor_type", options_for_select({'Choose Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>

<%= select_tag "clinical_variable" %>

<span class="span-like-link" style="display: none; float:right;" id="data-table-toggle">View as data table</span>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
	//get_data(1);
</script>