<div class="homepageAboutContainer">
	<h3>About this project</h3>
	<div class="well">
		<p>Thyroid cancer is one of the few cancers that have increased in incidence rates
		over recent years. The American Cancer Society estimates that in 2014, there will be 
		about 60,220 new cases of thyroid cancer in the U.S. and about 1,850 people will die
		from this disease each year. Current subtyping system is largely based on microscopic
		characteristics, which doesn't always correlate with clinical outcomes. In addition, the
		biomolecular mechanisms leading to different clinical phenotypes have not been fully
		elucidated.</p>
		<p>The recent availability of cancer omics data has created unique opportunities for
		the development and refinement of subtyping systems. Consortiums like The Cancer
		Genome Atlas (TCGA) profiled the genomic variation, DNA methylation status
		(epigenomics), gene expression (transcriptomics), and protein expression and
		modification status (proteomics) by next-generation sequencing / high-throughput
		modalities. Through careful analysis of the omics profiles, we can build a clinically
		relevant subtyping system and generate important insights into the genomic
		mechanisms contributing to clinical outcomes.</p>
		<p>
		In this project, we aim to:
		<ol>
			<li>Obtain the data, which is freely downloadable from the <a href="https://tcga-data.nci.nih.gov/tcga/" target="_blank">TCGA website</a>.
			<li>Identify patterns of genomic / epigenomic / transcriptomic / proteomic changes
				that predict clinical outcomes (tumor stage, survival) of thyroid cancer patients
				through supervised machine learning methods.
			<li>Determine the biological mechanisms associated with clinical outcomes through
				enrichment analysis using GO analysis.
			<li>Analyze the extent to which the identified genes and enrichments make sense, in how they indicate relevant biological mechanisms.
		</ol>
		</p>
		We plan to implement software tools in R and Ruby to perform the data analysis to
		obtain our results. From our own perspective, we hope to practice using the analytic
		tools introduced in class and consolidate the concepts we learned through this project.
	</div>

	<h4>Milestone Report</h4>
	<!-- Embedding pdf source here: http://www.pdfobject.com/markup/index.php -->
	<object data="Milestone.pdf" type="application/pdf" width="100%" height="500">
		<p>It appears you don't have a PDF plugin for this browser.
  		No biggie... you can <a href="myfile.pdf">click here to
  		download the PDF file.</a></p>
	</object>
</div>