<div class="homepageAboutContainer">
	<h3>About this project</h3>
	<div class="well">
		<p><b>Summary:</b> Precision oncology is an approach that accounts for individual differences to guide cancer management. Omics signatures have been shown to predict clinical traits for cancer patients. However, the vast amount of omics information poses an informatics challenge in systematically identifying patterns associated with health outcomes, and no general-purpose data-mining tool exists for physicians, medical researchers, and citizen scientists without significant training in programming and bioinformatics. To bridge this gap, we built the Omics AnalySIs System for PRecision Oncology (OASISPRO), a web-based system to mine the quantitative omics information from The Cancer Genome Atlas (TCGA). This system effectively visualizes patients’ clinical profiles, executes machine-learning algorithms of choice on the omics data, and evaluates the prediction performance using held-out test sets. With this tool, we successfully identified genes strongly associated with tumor stage, and accurately predicted patients’ survival outcomes in many cancer types, including mesothelioma, and adrenocortical carcinoma. By identifying the links between omics and clinical phenotypes, this system will facilitate omics studies on precision cancer medicine and contribute to establishing personalized cancer treatment plans.</p>

		<p><b>Availability and Implementation:</b> This web-based tool is available at <a href="http://tinyurl.com/oasispro" target="_blank">http://tinyurl.com/oasispro</a>; source codes are available at <a href="http://tinyurl.com/oasisproSourceCode" target="_blank">http://tinyurl.com/oasisproSourceCode</a>.</p>
	</div>
	<div style="text-align:center;">
		<a href="/admin">Admin area</a>
	</div>
</div>
