<div class="homepageAboutContainer">
	<h3>About this project</h3>
	<div class="well">
		<p><b>Background:</b> Precision oncology is an approach that takes into account individual differences, including genetics differences, to cancer managements. Omics signatures have been shown to predict survival outcomes for several cancer types. However, the vast amount of omics information posed an informatics challenge in identifying patterns associated with health outcomes systematically, and there is no general-purpose data-mining tool available for physicians, medical researchers, and citizen scientists without significant training in programming and bioinformatics.</p>

		<p><b>Results:</b> To bridge this gap, we built the Omics Analysis System for Precision Oncology (OASISPRO), a web-based system to mine the quantitative omics information from The Cancer Genome Atlas (TCGA). This system effectively summarized the patient characteristics in the dataset, executed machine-learning algorithms of choice on the omics data, and evaluated the prediction model performance with held out test sets. With this tool, we successfully identified genes strongly associated with tumor stage and other clinically important phenotypes. We further predicted patients’ survival outcomes in many cancer types accurately. This data mining system is extensible to other diseases and health status.</p>

		<p><b>Conclusions:</b> By building accurate prediction models for clinical phenotypes, this system will contribute to establishing personalized cancer treatment plans, thereby increasing the quality of care and reducing the cost of cancer management.</p>

	</div>
	<div style="text-align:center;">
		<a href="/admin">Admin area</a>
	</div>
</div>