<h2>Acknowledgements</h2>
<style>
#ack li {
	line-height:30px;
}
</style>

<ul id="ack" style="font-size:10pt;">
	<p>The authors thank Mr. Chung Yu Wang, Drs. Jim Notwell, Sandeep Chinchali, Wei Wang, Christopher Ré, Gill Bejerano, and Serafim Batzoglou for their helpful comments and suggestions. The authors thank the AWS Cloud Credits for Research, the Microsoft Azure Research Award, and the NVIDIA GPU Grant Program for their support.</p>
	<p>This work was supported by National Institutes of Health Grant 5U24CA160036-05. K.-H. Y. is a Harvard Data Science Postdoctoral Fellow, Howard Hughes Medical Institute International Student Research Fellow and Winston Chen Stanford Graduate Fellow.</p>
</ul>