// Place all the styles related to the clinical controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span.span-like-link {
	cursor: pointer;
	color: #337ab7;

	&:hover {
		text-decoration: underline;
	}
}
